{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="clo-6">
            <img src="{{ profile.image.url }}" style="height: 200px; width: 200px;">
        </div>
        <div class="col-6">
            <div class="card">
                        <table>
            <tr>
                <th>
                    user : {{ profile.user.username}}
                </th>
            </tr>
            <tr>
                <th>
                    name : {{ profile.user.first_name }}
                </th>
            </tr>
            <tr>
                <th>
                    email : {{ profile.user.email }}
                </th>
            </tr>
            </table>
            <a href={% url 'accounts:user_update' %}>update user</a>
            <a href={% url 'accounts:change_password' %}>change password</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}