{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <div class="card">
            <div>
                <h1>{{ order_ob.get_price }}</h1>
            </div>
            <div>
                <form method="post" action="{% url 'order:coupon' order_ob.id %}">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-info">coupon</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}